*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:A7F37E ;
}

.text{
    width: 80%;
    justify-self: center;
    text-align: center;
}

.container{
    background-color: D67D46;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 15%;
    padding: 20px;
    border: none;
    display: inline-block;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.container label{
    width: 80%;
}

.container input{
    justify-self: center;;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.container button{
    background-color: 85FF44;
    width: 35%;
    height: 40px;
    margin-top: 24px;
    margin-left: 65%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}