*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:A7F37E ;
    width: 100%;
    height: auto;
}
div {
    display: flex;
}

.contenedor {
    display: flex;
    height: 100vh; 
}

.image, .login {
    padding: 20px;
    width: 50%;
}

.image {
    background-color: lightgreen;
    padding: 0px;
}

.login {
    background-color: A7F37E;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.logo {
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    width: 40%;
    height: auto;
    margin-bottom: 16px; 
}

.singIn{
    display: block;
}

input {
    margin: 10px 0; /* Espaciado entre los inputs */
    padding: 10px;
    width: 100%; 
    border-radius: 40px;
    border-color: white;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.checkBox{
    margin: 10px 0; 
    padding: 10px;
    width: 10px; 
    border-radius: 40px;
    border-color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.stayLog{
    color:D67D46 ;
}

a{
    color: D67D46;
}

.link{
    margin: 5px;
    padding: 5px;
    display: grid;
}

.buttonLogin, .buttonRegister {
    width: 40%;
    padding: 3%;
    margin: 5%;
    border-radius: 40px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.buttonLogin{
    background-color: 5BFF02;
    border-color:5BFF02 ;
}

.buttonRegister{
    background-color: D67D46 ;
    border-color:D67D46 ;
}

.backGround{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.privacyPolicies{
    align-self: flex-end;
    margin-right: 10%;
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column; /* Cambia la dirección de flex a columna para mejor organización */
    }

    .image {
        display: none; /* Oculta el div .image */
    }

    .login {
        width: 100%; /* Asegura que el div .login ocupe todo el ancho */
    }
}